@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*
body {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.login-container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 60px;
    margin: 0;
    color: #333;
    font-weight:900;
}

h2 {
    font-size: 40px;
    margin: 10px 0 0;
    color: #333;
    font-weight: bold;
}

.input-group {
    margin-bottom: 25px;
}

.input-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    padding-left: 40px;
    position: relative;
    font-weight: bold;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.login-button {
    width: 80%;
    padding: 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.login_page {
    width: 80%;
    padding: 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
   
}
